.box_img{
  position: relative !important;
  border-radius: 12px;
}
.box_img:hover{
  background-color: aqua;
  opacity: 0.5;
}
.top-right {
  position: absolute;
  top: 6px;
  right: 42px;
  color: white;
    font-size: 14px;
}
.bottom-right {
	position: absolute;
	bottom: 8px;
  }
  .custom_h4{
    font-size: 13px; color: white;
    padding-left: 1rem;   
  }
  @media (min-width: 320px) and (max-width: 568px){
  	.res_box{
    margin-top: 15px;
  } 
  }