a,
a:hover,
a:focus {
    color: #707070 !important;
    text-decoration: none;

}
.post_b{
    background-color: #F2F2F2;
}
.post_ch{
    background-color: white !important;
    border: none !important; border-radius: 10px 10px 0px 0px !important;
}
.post_p1{
    padding-left: 15px;
}
.post1{
    border: none !important; background-color: white; box-shadow: none !important;
}
.post_c{
    border-radius: 10px 10px 0px 0px !important;
    margin-bottom: 40px;
    border: 1px solid white !important;
}
.post2{
    width: 5px !important; height: 24px !important;
}

.dropdown-menu img {
    width: 23px !important;
    height: 26px;
}
.post_i2{
    width: 100% !important; height: 250px !important; border-radius: 10px 10px 0px 0px;
}
.post_f1{
    background-color: white !important;border: none !important;
}


.contain {
    display: block;
    position: relative;
    padding-left: 35px !important;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #787878;
}

/* Hide the browser's default radio button */
.contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    /*background-color: #eee;*/
    border: 1px solid black;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
    /*background-color: #ccc;*/
}

/* When the radio button is checked, add a blue background */
.contain input:checked ~ .checkmark {
    background-color: #00A6AA;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.contain input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.contain .checkmark:after {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}


