/*sidenav left*/
.sidenav {
  height: 100%;
  background-color: #00A6AA;
  overflow-x: hidden;

}

@media screen and (min-width: 768px) {


  .sidenav {
      width: 50%;
      position: fixed;
      z-index: 1;
      left: 0;
  }
}

.login-main-text {
  margin-top: 18%;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: "Helvitca Neue", sans-serif;
}

.login-main-text h5 {
  margin-top: 36px;
}

.login-main-text h6 {
  margin-top: 14px;
  font-size: 19px;
}

/*end sidenav left*/


/*sidenav1 right*/
.sidenav1 {
  height: 100%;
  background-color: #F2F2F2;
  /*overflow-x: hidden;*/
  /* padding-top: 50px !important; */
}



@media screen and (min-width: 768px) {


  .sidenav1 {
      width: 50%;
      position: fixed;
      z-index: 1;
      right: 0;
      padding: 6% 8%;
  }
}

/*end sidenav1 right*/


/*sidenav2 right*/
.sidenav2 {
  height: 100%;
  background-color: #F2F2F2;
  overflow-x: hidden;
  padding-top: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {


  .sidenav2 {
      width: 50%;
      position: fixed;
      z-index: 1;
      right: 0;
      padding: 6% 8%;
  }
}

/* @media screen and (max-width: 768px) {
  .sidenav{
    display: none;
  }
  .sidenav2{
    width: 100%;
  }
} */
/*end sidenav2 right*/


.login-form-2 {
  background: #F2F2F2;


}

.login-form-2 h3 {
  text-align: center;
  color: #797979;
  font-size: 20px;
  margin: 30px;
  font-family: "Helvitca Neue", sans-serif;
}

.login-form-2 h5 {
  text-align: center;
  color: #00A6AA;
  font-size: 16px;
  font-family: "Helvitca Neue", sans-serif;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 2%;
  border: none;
  cursor: pointer;
}

.form-group-1 a {
  color: #797979;
}

.login-form-2 .btnSubmit {
  font-weight: 300;
  color: white;
  border-radius: 5px 5px 5px 5px;
  background-color: #FFD19A;
  box-shadow: none;
}

.login-form-2 .btn-default {
  background: #F2F2F2;
  border: 1px solid #00A6AA;
  color: #00A6AA;
  font-weight: 600;
  box-shadow: none;
}

.login-form-2 .ForgetPwd {
  color: #797979;
  font-weight: 600;
  text-decoration: none;
}

/*input field*/
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

/*end input field*/


/*signup checkbox and model*/
.checkbox a {
  color: black;
}

.w3-modal h3 {
  color: #00A6AA;
}

.w3-modal-content {
  border-radius: 10px 10px 10px 10px;
}

/*end checkbox and model*/

/*input field icon*/
.iconImage img {
  width: 16px;
  height: 16px;
  margin-top: 13px;
  margin-right: 11px;
}

.img-1 img {
  width: 2%;
  height: 11px;
  margin-right: 11px;
  margin-top: 18px;
}

/*input field icon end*/

#custom_mc {
  max-width: 600px;
}
