.custom_box2{
	position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px !important;
    background-color: rgba(0,0,0,.5) !important
}
.alpharow{
	background-color: white;
	border-radius: 6px 6px 6px 6px;
}
.alphaa{
	text-decoration: none !important;
}
.c_h{
	color: #00A6AA !important;
	font-size: 20px;
}
.btnsubmit{
	    color: white;
    border-radius: 5px 5px 5px 5px;
		background-color: #00A6AA;
		opacity: 0.5;
    outline: none !important;
        width: 195px;
}
.btnsubmit:hover{
	background: #00A6AA;
	opacity: 0.9;
}
.btnsubmit1{
	color: white;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFD19A;
    box-shadow: none !important;
    border: none !important;
}
.btnsubmit1:hover{
	background: #00A6AA;
}
.text{
	color: #707070;
	font-size: 17px !important;
	padding-left: 15px;
	margin-top: 5px;
}
.text:hover{
	color: #00A6AA;
}
.text2{
	color: #a3a3a3;
	font-size: 16px;
	margin-top:5px;
}
.text1:hover{
	color: #00A6AA;
}
.coll_s{
	border-radius: 10px 10px 10px 10px; background-color:#ecf4f4;
}
.t-6 img{
	bottom: 90px !important;
 right:600px !important;
}
.btnSubmit7{
	position:absolute;
    border-radius: 6px 6px 6px 6px;
    /*padding: 1%;*/
    border: none;
    width: 119px;
    height: 119px !important;
}
#t-7{
	bottom: -45px !important;
	/*right:85% !important;*/
	position: absolute;
	left: 30px;
}
.img_over{
position: relative !important;
}
.img1_2{
	position: absolute !important;left: 7.5% !important;
}
@media only screen and (max-width: 700px){
.btnSubmit7 {
    left: 18px;
}
}
@media (max-width: 991.98px) and (min-width: 768px){
#t-7 {
    right: 80% !important;
}
}
@media (max-width: 420px) and (min-width: 320px){
	.text2{
		font-size: 12px !important;
	}
	.text{
		font-size: 8px !important;
    margin-top: 9px;
    padding-left: 8px !important;
	}
	.btnsubmit{
		    font-size: 11px;
    width: 137px !important;
    margin-top: 5px;
	}
	.c_h{
		font-size: 14px;
		margin-top: 3px;
	}
	.submitbtn{
		    margin-left: 60px;
	}
}
.img_hvr:hover{
	background-color: transparent;
	opacity: 0.4;
}