.custom_b_f{
    background-color: #F2F2F2;
}
.nav_style_f{
    background-color: #00A6AA;
}
.nav_style1{
    color: #00A6AA;
}
.custom_radius{
    border-radius: 10px;
}
.custom_hght{
    line-height: 2rem;
}
