@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.slick-list {
  margin-right: 45px !important;
    margin-left: 55px !important;
  position: relative;
  display: block;
  overflow: hidden;
  /* margin-left: 1rem; */
  padding: 0;
}
.transparentbox{
  position: absolute;
  background-color: black;
  border-radius: 12px 12px 12px 12px !important;
  width: 94%;
  height: 109px;
  /* padding-top: 40%; */
  bottom: 0px;
  left: 0;
  opacity: 0.3;
}
.sliderImg {
  width: 94%;
    height: 109px;
    opacity: 0.6 !important;
    border-radius: 13px;
}
@media screen and (max-width: 480px) {
  .sliderImg {
    width: 100%;
    height: 109px;
    opacity: 0.6 !important;
  }
  

  .style-font{
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .sliderImg {
    width: 100%;
    height: 109px;
    opacity: 0.6 !important;
  }
  .transparentbox{
    position: absolute;
    background-color: black;
    border-radius: 12px 12px 12px 12px !important;
    width: 90%;
    height: 109px;
    /* padding-top: 48% !important; */
    bottom: 0px;
    left: 0;
    opacity: 0.3;
  }
}

@media screen and (max-width: 1200px) {
  .sliderImg {
    width: 90%;
    height: 109px;
    opacity: 0.6 !important;
  }
  .transparentbox{
    position: absolute;
    background-color: black;
    border-radius: 12px 12px 12px 12px !important;
    width: 90%;
    height: 109px;
    /* padding-top: 38%; */
    bottom: 0px;
    left: 0;
    opacity: 0.3;
  }
}
.text_centr{
  position: relative;
  text-align: center;
  color: #00A6AA;
  cursor: pointer;
}
.text_centr:hover{
  background-color: transparent;
  /* opacity: 0.5; */
}
.centered_text {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}
.slick-prev:before, .slick-next:before {
  color: #0747a6;
}
@media screen and (max-width: 411px){
  .text_font{
    font-size: 11px;
  }
  .text_font1{
    font-size: 10px;
  } 
}
@media screen and (max-width: 360px){
  .text_font{
    font-size: 8px;
  }
  
  .text_font1{
    font-size: 10px;
  }  
}
.btn_style{
  margin-top: -10px;
}
.slick-next{right: 6px !important;}
.slick-prev{left: 7px !important;}


