.comment_h {
  color: #00A6AA;
  font-size: 20px;
}
.comment_hs {
  color: #787878;
}
.commint {
  font-size: 20px;
}
.custom_f1_f {
  background-color: #F2F2F2 !important;
  border: none !important;
}
.comment_p {
  margin-top: 8px;
  font-size: 19px;
  margin-bottom: 8px;
}
/* .rounded_1{
  border-radius: 12px;
} */

@media (min-width: 320px) and (max-width: 411px){
  .comment_h {
    font-size: 12px;
  }

}

