#t1_img{
  background-color: #00A6AA !important;
  opacity: 0.4;
 }
 #t1_img:hover{
  background: #00A6AA;
  opacity: 0.9;
 }
 .btnSubmt3{
	/*position:absolute;*/
    border-radius: 6px 6px 6px 6px;
    padding: 9px;
    border: none;
    background-color: green !important;
}
.btnSubmt2{
	/*position:absolute;*/
    border-radius: 6px 6px 6px 6px;
    padding: 8px;
    border: none;
    background-color: #FFD19A;
    color: white;
}
.btnSubmt2:hover{
  background: #00A6AA;
  opacity: 0.9;
}
.c_img1{
	width: 80% !important;
	height: 36px !important;
	margin-top: -10px !important;
}
.c_img1:hover{
  background: #00A6AA;
  opacity: 0.4;
  border-radius: 8px;
}
.custom_cv{
	border-radius: 10px 10px 10px 10px !important;
	
	border: 1px solid white !important;
}
.custom_mc1{
  max-width:600px !important;
}
.bottom-right_1 {
  position: absolute !important;
  bottom: 8px;
  right: 0px;
}
.bottom-left {
  position: absolute !important;
  bottom: -50px;
  left: 0px;
  z-index: 10;
}
.card_img{
   border-radius: 10px !important; border: none !important;
}
.contain {
  display: block;
  position: relative;
  padding-left: 35px !important;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #787878;
}

/* Hide the browser's default radio button */
.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  /*background-color: #eee;*/
  border: 1px solid black;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
  /*background-color: #ccc;*/
}
/* When the radio button is checked, add a blue background */
.contain input:checked ~ .checkmark {
  background-color: #00A6AA;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.contain input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.contain .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

