.nav_style {
	background-color: #00a6aa;
	position: sticky;
	z-index: 100;
}

.bg-ubwab {
	background: #00a6aa;
}

/*end navbar style*/
/*search bar*/
.searchbar {
	margin-bottom: auto;
	margin-top: auto;
	height: 40px;
	background-color: white;
	border-radius: 30px;
	padding: 0px;
}

.mh-100 {
	min-height: 100vh;
}

.mh-83 {
	min-height: 83vh;
}

.search_input {
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color: transparent;
	line-height: 40px;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
	padding: 0 10px;
	width: 400px;
	caret-color: black;
	transition: width 0.4s linear;
	color: black;
}

.searchbar:hover > .search_icon {
	background: white;
	color: #00a6aa;
}

.search_icon {
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #00a6aa !important;
	font-size: 20px;
}

.searchbar a {
	text-decoration: none;
}

@media only screen and (max-width: 576px) {
	.searchbar:hover > .search_input {
		padding: 0 10px;
		width: 201px !important;
		caret-color: black;
		transition: width 0.4s linear;
		color: black;
	}
}

/*@media only screen and (max-width: 568px){
.searchbar:hover > .search_input{

   width: 219px !important;

   color: black;
   }
}*/
@media only screen and (max-width: 320px) {
	.searchbar:hover > .search_input {
		width: 162px !important;

		color: black;
	}
}

@media screen and (max-width: 414px) {
	.sidebar-offcanvas {
		position: absolute !important;
		max-height: calc(100vh - 63px);
		top: 0px;
		margin-top: 107px !important;
		bottom: 0;
		overflow: auto;
		right: -270px;
		-webkit-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
}

@media screen and (max-width: 992px) {
	.sidebar-offcanvas.active {
		right: 0;
		z-index: 11;
	}

	.sidebar-offcanvas {
		position: absolute !important;
		max-height: calc(100vh - 63px);
		top: 0px;
		margin-top: 132px;
		bottom: 0;
		overflow: auto;
		right: -270px;
		-webkit-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
}
/*end search bar*/
.t-1 h3 {
	font-family: "Helvitca Neue", sans-serif;
	color: #787878;
	font-size: 20px;
	padding-top: 8px;
}
.t-1 h3:hover {
	color: #00a6aa;
}
/*card*/
.c-2 {
	box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
	-moz-box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
}
.card-body img {
	width: 34px;
	height: 34px;
	margin-top: -10px;
}
.card-body p {
	margin-top: 20px;
	font-size: 18px;
	color: #787878;
}
.card-header {
	font-size: 14px;
	color: #787878;
	background-color: white;
	border: none;
}
.header h2 {
	color: #00a6aa;
	font-size: 22px;
}
.card-header img {
	width: 36px;
	height: 36px;
	margin-top: 0px;
}
.card-body h6 {
	color: #787878;
	margin-top: -6px;
}
.card h5 {
	margin-top: -28px;
	font-size: 19px;
	color: #787878;
}
.card-body h2 {
	color: #00a6aa;
	font-size: 28px;
}
.card-body h4 {
	font-size: 14px;
}

/*end card*/

.dropdown-menu a {
	color: #797979;
}

.custom_cn1 {
	color: #707070;
}

/* sidebar*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
	font-family: "Helvetica Neue", sans-serif;
	background: #fafafa;
}

.t-3 h3 {
	font-family: "Helvitca Neue", sans-serif;
	color: #787878;
	font-size: 17px;
	padding-top: 8px;
}

.t-3 {
	background-color: white;
}

p {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

a,
a:hover,
a:focus {
	color: #707070 !important;
	text-decoration: none;
}
	.c_text1 {
		/* font-size: 70% !important; */
		/* padding-left: 8px; */
		/* margin-top: 0px; */
	}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar_mid {
	/* text-align: center; */
}
.sdie_right1{
	margin-top: 50px;
}

.sidenav_p {
	background-color: white;
	min-height: calc(100vh - 63px);
}
#sidebar button {
	border: none;
	text-decoration: none;
	color: #00a6aa;
	box-shadow: none;
	font-size: 19px;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: white;
}

#sidebar ul li.active a {
	background: #00a6aa;
}

#sidebar ul li.active a {
	color: white !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

@media (max-width: 576px) {
	.pad_1 {
		padding: 0;
	}

	.pad_2 {
		padding: 0;
	}

	.pad_3 {
		margin: 0px 0px 0px 0px !important;
	}
}
/* home*/

.custom_p1 {
	padding-left: 15px;
}

.custom_b {
	background-color: #f2f2f2;
}

.alpha {
	text-decoration: none !important;
}

.sel1 {
	border: none !important;
	box-shadow: none !important;
}

.custom_b1 {
	text-decoration: none !important;
	border: none !important;
	box-shadow: none !important;
}

.custom_p {
	border-bottom: 2px solid #f2f2f2;
	color: #797979;
}

.custom_c {
	border-radius: 10px 10px 0px 0px !important;
	margin-bottom: 40px;
	border: 1px solid white !important;
}

.custom_ch {
	background-color: white !important;
	border: none !important;
	border-radius: 10px 10px 0px 0px !important;
}

.custom_i1 {
	width: 5px !important;
	height: 24px !important;
}

.custom_i2 {
	width: 100% !important;
	height: 250px !important;
	border-radius: 10px 10px 0px 0px;
}

.custom_i3 {
	width: 100% !important;
	height: 56px !important;
	border-radius: 10px 10px 0px 0px;
}

.custom_i4 {
	width: 100% !important;
	height: 350px !important;
	border: none !important;
	border-radius: 10px;
}

.alpha_c {
	border-radius: 10px 10px 10px 10px !important;
}

.custom_f1 {
	background-color: white !important;
	border: none !important;
}

.custom_f2 {
	background-color: #f2f2f2 !important;
	border: none !important;
}

.custom_a1 {
	color: #787878;
}
.custom_c1 {
	border: none !important;
	border-radius: 10px 10px 10px 10px !important;
	box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
	-moz-box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
	box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
}
.custom_ch1 {
	border: none !important;
}
#custom_cf {
	border: none;
	background-color: rgb(103, 204, 204);
	border-radius: 0px 0px 10px 10px;
	height: 60px;
}
#custom_cf:hover {
	background-color: #00a6aa;
	opacity: 0.9;
}

#custom_cfa {
	color: white !important;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
}

.custom_h4 {
	font-size: 14px;
	color: white;
	padding-top: 25px;
	padding-left: 20px;
}

.img_2 {
	position: relative;
	background-image: url("../../images/champ.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border: none !important;
	width: 40%;
	height: 90px !important;
	border-radius: 12px 12px 12px 12px !important;
	margin-top: -89px;
}

.alpha1 {
	background-color: white !important;
	border: none !important;
	padding-left: 100px !important;
}

.alpha2 {
	background-color: white !important;
	border: none !important;
}

.ancho1 {
	color: #00a6aa;
	text-decoration: underline;
}

.ancho3 {
	color: #00a6aa;
}
/*popular page*/
.alphab {
	border-bottom: 3px solid #00a6aa;
	width: 64px;
}
.outline_n {
	outline: none;
}
.alphabb {
	border-bottom: 3px solid #00a6aa;
	width: 128px;
}
.alphac {
	border-bottom: 1px solid #797979;
	color: #797979;
}
.alphab1 {
	border: none !important;
	background-color: white;
	box-shadow: none !important;
}
.alphab2 {
	width: 5px !important;
	height: 24px !important;
}
.dropdown-menu img {
	width: 30px;
	height: 26px;
}
.dropdown-menu li {
	color: #787878;
}
/*end popular page*/

/*communities page*/
.t-2 h3 {
	font-family: "Helvitca Neue", sans-serif;
	color: white;
	font-size: 20px;
	padding-top: 8px;
}
.close_res:hover {
	color: #00a6aa;
}
.t-2 {
	background-color: black;
}
.t-4 {
	border-radius: 10px 10px 10px 10px !important;
	border: none !important;
}

.c_f a:hover {
	color: #787878;
}

.t-3 {
	border-radius: 10px 10px 10px 10px;
	font-family: "Helvitca Neue", sans-serif;
	color: #787878;
	font-size: 16px;
	padding-top: 8px;
}

.card-footer a:hover {
	color: #787878;
}

button {
	bottom: 0px;
	right: 0px;
}

.btnSubmit1 {
	position: absolute;
	border-radius: 10px 0px 10px 10px;
	padding: 2%;
	border: none;
	outline: none !important;
	background-color: #00a6aa;
	color: white;
}
.btnSub {
	position: absolute;
	border-radius: 10px 0px 0px 10px;
	padding: 2%;
	border: none;
	width: 25%;
	outline: none !important;
	background-color: #00a6aa;
	color: white;
}
@media (min-width: 320px) and (max-width: 411px) {
	.btnSub {
		position: absolute;
		border-radius: 10px 0px 0px 10px;
		padding: 3%;
		border: none;
		width: 40%;
		outline: none !important;
		background-color: #00a6aa;
		color: white;
	}
}
.t_a {
	border: none !important;
	border-radius: 10px !important;
	box-shadow: none !important;
}
@media only screen and (max-width: 320px) {
	.res_text {
		font-size: 13px;
	}
	.res_text2 {
		font-size: 13px !important;
	}
}

/*end communities page*/
@media only screen and (min-device-width: 320px) {
	.t-1 h3 {
		font-size: 18px;
	}
}
.dropDownImage{
	width: 25px !important;
	margin-left: 0.45rem !important;
}