.custom_cv {
	border-radius: 10px 10px 10px 10px !important;

	border: 1px solid white !important;
}
.sdie_right2{
	margin-top: 64px;
}

.underLine {
	border-bottom: 1px solid black;
}

.btnSubmit2 {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	padding: 1%;
	border: none;
	background-color: #ffd19a;
	color: white;
}
.cursor_p {
	cursor: pointer;
}

.remove_a1 {
	text-decoration: none !important;
}

.btnsubmit:hover {
	background: #00a6aa;
	opacity: 0.5;
}

.btn_res:hover {
	background: #00a6aa;
}

.btnSubmit3 {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	padding: 1%;
	border: none;
	background-color: #ffd19a !important;
}

.btnSubmit4 {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	/*padding: 1%;*/
	border: none;
	width: 135px;
	height: 135px;
}

.btnSubmit5 {
	/*position:absolute;*/
	border-radius: 6px 6px 6px 6px;
	/*padding: 1% !important;*/
	border: none;
	background-color: #00a6aa;
	color: white;
	margin-top: -25px;
	margin-bottom: 20px;
}

#t_img {
	bottom: 34px !important;
	right: 274px !important;
	background-color: #00a6aa !important;
}

#t-6 {
	bottom: -39px !important;
	right: 88% !important;
	z-index: 10;
}

.b_button {
	bottom: 32px !important;
	right: 80px !important;
	width: 18%;
}

.c_img {
	/*width: 20px !important;*/
	height: 23px !important;
}

.c_img_1 {
	width: 12% !important;
	height: 53px !important;
	background-color: #00a6aa;
	border-radius: 0px 10px 10px 0px;
}

.c_img1 {
	width: 80% !important;
	height: 36px !important;
	margin-top: -10px !important;
}

.text1 {
	color: #787878;
}
.com-left{
	padding-left: 1.2rem;
}
.community_joined{margin-top: 63px;}

.label-txt {
	color: #00a6aa;
}

.contain {
	display: block;
	position: relative;
	padding-left: 35px !important;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 17px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #787878;
}

/* Hide the browser's default radio button */
.contain input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	/*background-color: #eee;*/
	border: 1px solid black;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
	/*background-color: #ccc;*/
}

/* When the radio button is checked, add a blue background */
.contain input:checked ~ .checkmark {
	background-color: #00a6aa;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.contain input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.contain .checkmark:after {
	top: 6px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

.custom_ps {
	color: #000000;
	font-size: 20px;
}

.custom_ps1 {
	color: #00a6aa;
	font-size: 16px;
}

.alpha_h {
	font-size: 16px !important;
}

.custom_mc1 {
	max-width: 600px !important;
}

.alpha_b {
	border-bottom: 3px solid #00a6aa;
	width: 86px;
	margin: -5px;
}

.alpha_bb {
	border-bottom: 3px solid #00a6aa;
	width: 115px;
	margin: -5px;
}

.alpha_bb1 {
	border-bottom: 3px solid #00a6aa;
	width: 105px;
	margin: -5px;
}

.alpha_bb_1 {
	border-bottom: 3px solid #00a6aa;
	width: 140px;
	margin: -5px;
}

.alpha_bb2 {
	border-bottom: 3px solid #00a6aa;
	/* width: 116px; */
	margin: -5px;
}

.alpha_bbb {
	border-bottom: 3px solid #00a6aa;
}

.custom_h6 {
	padding-left: 60px;
	color: #787878;
}

.box3 {
	position: relative !important;
	border: none !important;
	width: 100%;
	height: 97px !important;
	border-radius: 12px 12px 12px 12px !important;
	background-image: url(../../images/football2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.custom_abox {
	font-size: 14px;
	color: white;
	padding-top: 10px;
	padding-left: 20px;
}

.custom_abox1 {
	font-size: 17px;
	color: white;
}

.dropdown-menu img {
	width: 15px !important;
	height: 26px;
}

.submitbtn {
	background-color: #00a6aa;
	width: 28%;
	color: white;
}

.custom_m {
	margin-top: -14px;
}

.custom_cn {
	color: #707070;
}

#search_icon_1 {
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
	font-size: 20px;
}

.img_over1 {
	position: relative !important;
}

.img1_3 {
	position: absolute !important;
	left: 7% !important;
	z-index: 10;
}

.btnSubmit_7 {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	padding: 1% !important;
	border: none;
}

.btnSubmit_8 {
	position: absolute;
	border-radius: 6px 6px 6px 6px;
	/*padding: 1%;*/
	border: none;
	width: 102px;
	height: 102px;
}

.b_model {
	background-color: #00a6aa !important;
	opacity: 0.6;
	border-radius: 9px !important;
	padding: 10px;
	color: white !important;
	border: none !important;
	box-shadow: none !important;
}

.b_model:hover {
	background: #00a6aa;
	opacity: 0.9;
}

.model_img {
	padding: 6px !important;
}

.model_wd {
	max-width: 600px !important;
	border-radius: 9px !important;
}

.model_index {
	z-index: 20;
}

.custom_bt {
	text-decoration: none !important;
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

@media screen and (max-width: 700px) {
	.custom_a2 {
		margin-left: 10px !important;
	}

	.custom_a3 {
		margin-left: 8px !important;
	}
}

@media screen and (max-width: 350px) {
	.custom_a2 {
		margin-left: 14px !important;
	}

	.custom_a3 {
		margin-left: 15px !important;
	}

	.custom_a1 {
		margin-left: 0.5rem !important;
	}

	.custm_a {
		margin-left: -26px !important;
	}

	.custom_a3 {
		margin-left: 16px !important;
	}

	.cut_a {
		margin-left: 10px !important;
	}
}

@media only screen and (max-width: 576px) {
	.btnSubmit_8 {
		left: 5px;
	}

	.b_button {
		bottom: 23px !important;
		right: 22px !important;
		width: 28% !important;
	}

	#t_img {
		bottom: 22px !important;
		right: 136px !important;
		background-color: #00a6aa !important;
	}
	.thumbnail_1{
		position: absolute;
    height: 74px !important;
    width: 74px !important;
    top: -81px;
	}
}

@media only screen and (max-width: 700px) {
	.btnSubmit_8 {
		left: 18px;
	}

	.b_button {
		bottom: 23px !important;
		right: 22px !important;
		width: 122px !important;
	}

	#t_img {
		bottom: 25px !important;
		right: 153px !important;
		background-color: #00a6aa !important;
		width: 29px;
	}
}

@media only screen and (max-width: 350px) {
	.btnSubmit_8 {
		left: 16px;
	}

	.b_button {
		bottom: 21px !important;
		right: 22px !important;
		width: 112px !important;
	}

	#t_img {
		bottom: 23px !important;
		right: 142px !important;
		background-color: #00a6aa !important;
		width: 27px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	#t_img {
		bottom: 35px !important;
		right: 199px !important;
		background-color: #00a6aa !important;
		width: 29px;
	}

	#t-6 {
		right: 80% !important;
	}
}

@media (min-width: 1024px) and (max-width: 1100px) {
	#t_img {
		bottom: 34px !important;
		right: 239px !important;
		background-color: #00a6aa !important;
		width: 35px;
	}

	.btnSubmit_8 {
		left: 15px;
	}
}

.post_footer {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.cust {
	margin: 0px;
}

@media (min-width: 320px) and (max-width: 991.98px) {
	.c_img {
		width: 15px !important;
		height: 16px !important;
	}

	.c_text {
		font-size: 70% !important;
		padding-left: 31px !important;
	}

	.c_text1 {
		font-size: 70% !important;
		padding-left: 8px;
		margin-top: -5px;
	}

	.c_text2 {
		font-size: 70% !important;
		padding-left: 8px;
		margin-top: -6px;
	}

	.b_model {
		width: 90%;
		height: 88%;
		/* margin-top: -20px; */
		/* margin-left: 17%; */
	}
	.b_model1 {
		margin-top: -10px;
	}

	.model_img {
		width: 82%;
	}
}

@media (min-width: 1024px) and (max-width: 1366px) {
	.b_model {
		width: 90%;
		height: 85% !important;
		margin-top: -20px;
		margin-left: 17%;
	}

	.model_img {
		width: 82%;
	}

	.c_text {
		padding-left: 39px !important;
	}

	.c_text1 {
		padding-left: 38px;
		margin-top: -5px;
	}

	.c_text2 {
		padding-left: 8px;
		margin-top: -6px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.b_model {
		width: 97%;
		height: 99% !important;
		margin-top: -20px;
		margin-left: 4%;
	}

	.model_img {
		width: 82%;
	}

	.c_text {
		font-size: 70% !important;
		padding-left: 39px !important;
	}

	.c_text1 {
		font-size: 70% !important;
		padding-left: 8px;
		margin-top: -5px;
	}

	.c_text2 {
		font-size: 70% !important;
		padding-left: 8px;
		margin-top: -6px;
	}
}

@media (min-width: 1220px) and (max-width: 1300px) {

}

@media (min-width: 1300px) and (max-width: 1366px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

.profileText {
	margin-right: 7%;
	margin-top: -10px;
}

.custom_wid {
	width: 80%;
}
.sign_out1 {
	font-size: 1.2rem !important;
}

/* Setting */
.top_m{
	margin-top: 0rem;
	margin-bottom: 0.1rem;
}
.shadoow{
	box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}
.sign_out{
	font-size: 2.5rem; color: #00A6AA;
}
.sign_out1{
	font-size: 1.2rem;
}
.btn_acc{
	background:#00A6AA; box-shadow: none !important;
}
p,h5,h3,h2,h1,h6,button,a{
	font-family: 'Lato', sans-serif !important;
    font-weight: 400;
}
.h5_clr{
	color: #999;
}
