.nav_style {
    background-color: #00A6AA;
}

.cart {
    font-size: 11px;
    left: -3.5em;
    top: 0.3em;
}

.custom_b {
    background-color: #f5f5f5;
}

.cursor {
    cursor: pointer;
}

.list_style {
    color: black;
}

.list_style:hover {
    background: #00CBD0;
    color: black;
}

.sel1 {
    border: none !important;
    box-shadow: none !important;
    outline: none;

}

.alpha {
    text-decoration: none !important;
    color: #787878;
}

.alpha:hover {
    color: #00A6AA;
}

.alphab {
    border-bottom: 3px solid #00A6AA;
    width: 100%;
    margin-top: -8px;
}

.alphab_2 {
    border-bottom: 3px solid #00A6AA;
    width: 100%;
}

.user_img {
    margin-left: 1.7rem;
    margin-top: 1.4rem;
}
.top{
    margin-left: 0.9rem;
    margin-top: 1.4rem;
}

/* .img1 {
    margin-left: 0.3rem;
    margin-top: 0.55rem;
} */

/*content body*/
.sidebar {
    min-height: calc(100vh - 76px) !important;
}

/* Tabs*/
section {
    padding: 3px 0;
}

.chatBox {
    min-height: calc(100vh - 2076px) !important;
    overflow-y: auto;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs {
    /*background: white;*/
    color: #eee;
    border-radius: 12px;
}

#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #00A6AA;
    font-size: 20px;
}

.c_clr {
    color: #9D9D9D !important;
    font-weight: 500;
    text-align: justify;
    line-height: 1.4;
}

.hr_margin {
    margin-top: -20px;
}

.display_style {
    text-align: justify;
    display: inline-block;
}

.btn_below {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;

}

.btn_clor {
    background-color: #00A6AA !important;
}

.type_msg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /*border: 1px solid #c4c4c4;*/
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 60px;
    width: 100%;
    outline: none;
    padding-left: 10px;
}

.msg_send_btn {
    /*background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;*/
    position: absolute;
    right: 25px;
    top: 18px;
    /*width: 40px;*/
    height: 28px;
    outline: none !important;
}

.attach_send_btn {
    /*margin-top: 20px;*/
    position: absolute;
    height: 20px;
    top: 22px;
    right: 75px;
}

.attach_image_btn {

    position: absolute;
    height: 20px;
    top: 22px;
    right: 125px;
}

.attach_image {
    position: relative;
    width: 80px;
    height: 80px;
}

/*tabs*/
/*chat*/

.msg_history {
    height: 580px !important;
    overflow-y: auto;
    padding-bottom: 30px;
}

.msg_historyc {
    height: 620px !important;
    overflow-y: auto;
}

.incoming_msg_img {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    /*width: 46%;*/
}

img {
    max-width: 100%;
}

.vendor-id-field {
    width: 100%;
    float: left;
    position: relative;
}

.vendor-id-field input {
    width: 100%;
    float: left;
    border: 1px solid #D0CACA;
    padding: 7px 5px 7px 28px;
    font-size: 14px;
    color: #362D29;
    border-radius: 5px;
}

.vendor-id-field .searchicon {
    display: block;
    content: '\f002';
    color: #908B89;
    /* font-family: 'Font Awesome 5 Free'; */
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 10px;
}

/* .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  }*/
/*.received_withd_msg { width: 57%;}*/
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    float: right;
    margin: 8px 0 0;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    

}
.sent_msg_clr{background-color: #8a8a8a;}
.sent_msg {
    float: right;
    /*width: 46%;*/
    display: inline-block;
}

.shadow_card {
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.width_tabs {
    width: 50%;
}

.sidebar_chat {
    height: 500px;
    overflow-y: auto;
}

/*chat*/
/*content body*/

/*responsive*/
@media (max-width: 1350px) {
    .font_style {
        font-size: 1rem !important;
    }

    .font_style1 {
        font-size: 0.8rem !important;
    }
    .time_font_style{
        padding-top: 5px;
        font-size: 0.6rem !important;
    }
}

@media (max-width: 1199px) {
    .width_tabs {
        width: 50%;
    }

    .font_style {
        font-size: 1rem !important;
    }

    .font_style1 {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 992px) {

    .font_style {
        font-size: 1rem !important;
    }

    .font_style1 {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 768px) {


}

@media (max-width: 576px) {
    .hide_on_450 {
        display: none;
    }

    .msg_history {
        height: 480px !important;
        overflow-y: auto;
        padding-bottom: 30px;
    }
}

.uploadImageHide {
    display: none;
}
.cart-message{
    font-size: 11px;
    left: -3.0em;
    top: -0.5em;
}