.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img_hov:hover{
  background: green;
  opacity: 0.4;
}
.image-upload>input {
  display: none;
}
.bottom-left2 {
  position: absolute;
  bottom: 10px;
  left: 32px;
}
.img_over:hover{
  opacity: 0.5;
}

.text_1 {
  color: #a3a3a3;
  font-size: 18px;
  margin-top: 5px;
}

textarea {resize: none !important}
