.c_f {
  padding-right: 0px !important;
}
.comment_p {
  margin-top: 8px;
  font-size: 19px;
  margin-bottom: 8px;
}
.comment_h {
  color: #00A6AA;
  font-size: 20px;
}
.comment_hs {
  color: #787878;
}

.commint {
  font-size: 20px;
}
.contain {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.custom_p1 {
  padding-left: 15px;
}
.custom_b {
  background-color: #F2F2F2;
}
.alpha {
  text-decoration: none !important;
}
.sel1 {
  border: none !important;
  box-shadow: none !important;
}
.custom_b1 {
  text-decoration: none !important;
  border: none !important;
  box-shadow: none !important;
}
.custom_p {
  border-bottom: 2px solid #F2F2F2;
  color: #797979;
}
.custom_c {
  border-radius: 10px 10px 0px 0px !important;
  margin-bottom: 40px;
  border: 1px solid white !important;
}
.custom_ch {
  background-color: white !important;
  border: none !important;
  border-radius: 10px 10px 0px 0px !important;
}
.custom_i1 {
  width: 5px !important;
  height: 24px !important;
}
.custom_i2 {
  width: 100% !important;
  height: 250px !important;
  border-radius: 10px 10px 0px 0px;
}
.custom_i3 {
  width: 100% !important;
  height: 56px !important;
  border-radius: 10px 10px 0px 0px;
}
.custom_i4 {
  width: 100% !important;
  height: 350px !important;
  border: none !important;
  border-radius: 10px;
}
.alpha_c {
  border-radius: 10px 10px 10px 10px !important;
}
.custom_f1 {
  background-color: white !important;
  border: none !important;
}
.custom_f1_f {
  background-color: #F2F2F2 !important;
  border: none !important;
}
.custom_f2 {
  background-color: #F2F2F2 !important;
  border: none !important;
}
.custom_a1 {
  color: #787878;
}
.custom_c1 {
  border: none !important;
  border-radius: 10px 10px 10px 10px !important;
  box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
  -moz-box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
  box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
}

.custom_ch1 {
  border: none !important;
}
#custom_cf {
  border: none;
  background-color: #00A6AA;
  border-radius: 0px 0px 10px 10px;
  height: 60px;
}
#custom_cfa {
  color: white !important;
  text-decoration: none;
  font-size: 22px;
}
.custom_h4 {
  font-size: 14px;
  color: white;
  padding-top: 25px;
  padding-left: 20px;

}
.alpha1 {
  background-color: white !important;
  border: none !important;
  padding-left: 100px !important;
}
.alpha2 {
  background-color: white !important;
  border: none !important;;
}
.ancho1 {
  color: #00A6AA;
  text-decoration: underline;
}
.ancho3 {
  color: #00A6AA;
}
.box {
  position: relative !important;
  border: none !important;
  border-radius: 12px 12px 12px 12px !important;
  opacity: 0.8;
}

/*popular page*/
.alphab {
  border-bottom: 3px solid #00A6AA;
  width: 65px;
  margin: -8px;
  margin-left: -4px;
}
.alphab_2 {
  border-bottom: 3px solid #00A6AA;
  width: 126px;
  margin: -8px;
  margin-left: -4px;

}
.alphabb {
  border-bottom: 3px solid #00A6AA;
  width: 128px
}
.alphac {
  border-bottom: 1px solid #797979;
  color: #797979;
}
.alphab1 {
  border: none !important;
  background-color: white;
  box-shadow: none !important;
}
.alphab2 {
  width: 5px !important;
  height: 24px !important;
}
.dropdown-menu img {
  width: 30px;
  height: 26px;
}
.dropdown-menu li {
  color: #787878;
}

/*end popular page*/


/*communities page*/
.t-2 h3 {
  font-family: "Helvitca Neue", sans-serif;
  color: white;
  font-size: 20px;
  padding-top: 8px;
}
.t-2 {
  background-color: black;
}
.t-4 {
  border-radius: 10px 10px 0px 0px !important;
  border: none !important;
}
.c_f a:hover {
  color: #787878;
}
.t-3 {
  border-radius: 10px 10px 10px 10px;
  font-family: "Helvitca Neue", sans-serif;
  color: #787878;
  font-size: 16px;
  padding-top: 8px;
}
.card-footer a:hover {
  color: #787878;
}
button {

  bottom: 0px;
  right: 0px;
}
/* .btnSubmit1 {
  position: absolute;
  border-radius: 10px 0px 10px 10px;
  padding: 2%;
  border: none;
  background-color: #00A6AA;
  color: white;
} */
.t_a {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

/*end communities page*/
#t_imag {
  bottom: 35px !important;
  right: 292px !important;
  background-color: #00A6AA !important;
}
.btnSubmit_3 {
  position: absolute;
  border-radius: 6px 6px 6px 6px;
  padding: 8px;
  border: none;
}
.w_index {
  z-index: 10;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
}
.bottom-right_1 {
  position: absolute !important;
  bottom: 8px;
  right: 0px;
}
.bottom-left {
  position: absolute !important;
  bottom: -50px;
  left: 0px;
  z-index: 10;
}
.card_img {
  border-radius: 10px !important;
  border: none !important;
}


