.custom_p1 {
  padding-left: 15px;
}
.custom_b {
  background-color: #f2f2f2;
}
.alpha {
  text-decoration: none !important;
}
.sel1 {
  border: none !important;
  box-shadow: none !important;
}
.sdie_right {
  margin-top: 56px;
}
.custom_b1 {
  text-decoration: none !important;
  border: none !important;
  box-shadow: none !important;
}
.custom_p {
  border-bottom: 2px solid #f2f2f2;
  color: #797979;
}
.custom_c {
  border-radius: 10px 10px 0px 0px !important;
  margin-bottom: 40px;
  border: 1px solid white !important;
}
.custom_ch {
  background-color: white !important;
  border: none !important;
  border-radius: 10px 10px 0px 0px !important;
}
.custom_i1 {
  width: 5px !important;
  height: 24px !important;
}
.custom_i2 {
  width: 100% !important;
  height: 250px !important;
  border-radius: 10px 10px 0px 0px;
}
.custom_i3 {
  width: 100% !important;
  height: 56px !important;
  border-radius: 10px 10px 0px 0px;
}
.custom_i4 {
  width: 100% !important;
  height: 350px !important;
  border: none !important;
  border-radius: 10px;
}
.alpha_c {
  border-radius: 10px 10px 10px 10px !important;
}
.custom_f1 {
  background-color: white !important;
  border: none !important;
}
.custom_f2 {
  background-color: #f2f2f2 !important;
  border: none !important;
}
.custom_a1 {
  color: #787878;
}
.custom_c1 {
  border: none !important;
  border-radius: 10px 10px 10px 10px !important;
  box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
  -moz-box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
  box-shadow: 6px 12px 9px -4px rgba(198, 198, 204, 1);
}
.sticky_mode {
  position: sticky;
  top: 20px;
}
.sticky_mode1 {
  position: sticky;
  top: 460px;
}
.custom_ch1 {
  border: none !important;
}

#custom_cf {
  border: none;
  background-color: #00a6aa;
  border-radius: 0px 0px 10px 10px;
  height: 60px;
}
#custom_cfa {
  color: white !important;
  text-decoration: none;
  font-size: 22px;
}
.custom_h4 {
  font-size: 14px;
  color: white;
  padding-top: 25px;
  padding-left: 20px;
}
.img_2 {
  position: relative;
  background-image: url("../../images/champ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none !important;
  width: 40%;
  height: 90px !important;
  border-radius: 12px 12px 12px 12px !important;
  margin-top: -89px;
}
.alpha1 {
  background-color: white !important;
  border: none !important;
  padding-left: 100px !important;
}
.alpha2 {
  background-color: white !important;
  border: none !important;
}

.ancho1 {
  color: #00a6aa;
  text-decoration: underline;
}

.ancho3 {
  color: #00a6aa;
}
.box {
  position: relative !important;
  border: none !important;
  width: 40%;
  height: 90px !important;
  border-radius: 12px 12px 12px 12px !important;
  background-image: url(../../images/car.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.custom_box1 {
  position: absolute !important;
  width: 100% !important;
  border-radius: 10px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.box1 {
  position: relative !important;
  border: none !important;
  width: 40%;
  height: 90px !important;
  border-radius: 12px 12px 12px 12px !important;
  background-image: url(../../images/football.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.box2 {
  position: relative !important;
  border: none !important;
  width: 40%;
  height: 90px !important;
  border-radius: 12px 12px 12px 12px !important;
  background-image: url(../../images/football2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -89px;
}

/*popular page*/
.alphab {
  border-bottom: 3px solid #00a6aa;
  width: 75px;
}
.alphabb {
  border-bottom: 3px solid #00a6aa;
  width: 128px;
}
.alphac {
  border-bottom: 1px solid #797979;
  color: #797979;
}
.alphab1 {
  border: none !important;
  background-color: white;
  box-shadow: none !important;
}
.alphab2 {
  width: 5px !important;
  height: 24px !important;
}
.dropdown-menu img {
  width: 30px;
  height: 26px;
}
.dropdown-menu li {
  color: #787878;
}
/*end popular page*/

/*communities page*/
.t-2 h3 {
  font-family: "Helvitca Neue", sans-serif;
  color: white;
  font-size: 20px;
  padding-top: 8px;
}
.t-2 {
  background-color: black;
}
.t-4 {
  border-radius: 10px 10px 10px 10px !important;
  border: none !important;
}
.c_f a:hover {
  color: #787878;
}
.t-3 {
  border-radius: 10px 10px 10px 10px;
  font-family: "Helvitca Neue", sans-serif;
  color: #787878;
  font-size: 16px;
  padding-top: 8px;
}
.card-footer a:hover {
  color: #787878;
}
button {
  bottom: 0px;
  right: 0px;
}
/* .btnSubmit1{
    position:absolute;
    border-radius: 10px 0px 10px 10px;
    padding: 2%;
    border: none;
    background-color: #00A6AA;
    color: white;
} */

.t_a {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}
/*end communities page*/
.selected_Image {
  height: 15px !important;
  width: 6px !important;
}
.privacy-policy-text-align {
  text-align: justify;
}
.privacy_head {
  color: #00a6aa;
}

.privacy_font {
  font-size: 24px;
  color: #00a6aa;
}
.cursor_pointer_class{
    cursor: pointer !important;
}
.directRtl{
  direction: rtl;
}
.right-align{
  text-align: right;
}
.border-bottom-class{
  border-bottom : 1px solid #ddd;
  padding-bottom: 5px;
}