@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .custom_margin1 {
        margin-left: 25px !important;
    }

    .custom_margin_2 {
        margin-left: 0.8rem;
    }

    .user_img {
        width: 20px;
        height: 20px;
        margin-top: 0.8rem !important;
        margin-left: 0.4rem;
    }
    .top{
        margin-top: 1rem;
    }

    .screen_w {
        width: 50px;
        height: 30px;
        margin-top: 10px;
    }

    .screen2 {
        width: 15px;
        height: 15px;
    }

    .header_icons {
        margin-right: 20px !important;
    }

    .searchbar {
        margin-top: 6px !important;
        margin: 0.1rem;
    }

    .img1 {
        width: 26px;
        height: 26px;
        margin-top: 0.55rem;
    }

    .custom_contain {
        padding-right: 4px !important;
        padding-left: 1px !important;
    }
}

@media (max-width: 768px) {
    .hide-from-768 {
        display: none !important;
    }

    .small_screen_resp {
        margin-left: auto !important;
    }

    .searchbar {
        /* margin-left: 2.6rem !important; */
        margin: 1%;
        width: 99%;
    }
}

@media (min-width: 769px) {

    .show-below-768 {
        display: none !important;
    }

    .searchbar {
        margin-left: 2.6rem !important;
        margin: 1%;
        width: 67%;
    }

    .small_screen_resp {
        margin-left: auto !important;
    }
}

@media (min-width: 500px) {
    .custom_margin1 {
        margin-left: 2rem;
    }

    .user_img {
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .top{
        margin-top: 1rem;
    }

    .img1 {
        margin-left: 0.8rem;
        margin-top: 1.2rem;
        margin-right: 0.3rem;
    }
}

.header_icons {
    margin-right: 23px !important;
}

/*min width*/
@media screen and (min-width: 768px) {
    .custom_margin {
        margin-left: 200px !important;
    }

    .custom_margin1 {
        margin-left: 7rem;
    }

    .user_img {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .top{
        margin-top: 1rem;
    }


}

@media screen and (min-width: 1400px) {
    .searchbar {
        margin-left: 2.6rem !important;
        margin: 1%;
        width: 66%;
    }
}

/*end min width*/
.nav_style {
    background-color: #00a6aa;
}

.cart {
    font-size: 11px;
    right: 0.8em;
    top: 0.4em;
}

.notification_count {
    font-size: 11px;
    right: 0.15em;
}

.custom_b {
    background-color: #f2f2f2;
}

.text-align-last-right {
    text-align-last: right;
}
.text-align-last-left {
    text-align-last: left;
}

.sel1 {
    border: none !important;
    box-shadow: none !important;
    outline: none;
    /*background-color: white !important;*/
    background: white;
}

.alpha {
    text-decoration: none !important;
    color: #787878;
}

.alpha:hover {
    color: #00a6aa;
}

.alphab {
    border-bottom: 3px solid #00a6aa;
    width: 100%;
}

.alphab_2 {
    border-bottom: 3px solid #00a6aa;
    width: 127px;
}

.underline_nav {
    border-bottom: 3px solid #00a6aa;
    width: 105%;
}

.capitalize {
    text-transform: capitalize;
}

.screen_w {
    margin-left: 6px;
}
