@media (min-width: 320px) and (max-width: 736px) {
    .custmb {
        margin-top: 10px;
    }

    .text_b {
        font-size: 12px !important;
    }
}

@media (min-width: 736px) and (max-width: 1024px) {
    .but_pad {
        background-color: transparent;
        border: 2px solid #F2F2F2;
        border-radius: 10px;
        box-shadow: none;
        width: 106px !important;
    }
}

.input {
    padding: 10px;
    display: inline !important;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
}

.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #00A6AA;
    transition: ease .6s;
}

.input:focus + .line-box .line {
    width: 100%;
}

.label-active {
    top: -3em;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: pointer;
    display: block;
}

.btnsubmit {
    color: white;
    border-radius: 5px 5px 5px 5px;
    background-color: #00A6AA;
    box-shadow: none !important;
    border: none !important;
}

.text_b1 {
    font-size: 20px;
}

.text_b2 {
    background-color: #00A6AA;
    border-radius: 10px;
    color: white;
    width: 138px !important;
}

.text_b3 {
    padding: 0px !important;
    margin: 0px !important;
}

.text_b4 {
    color: #00A6AA;
}

.text_b5 {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
    color: #00A6AA;
}

.text_b6 {
    border: none !important;
    box-shadow: none !important;
}

.pd_1 {
    background-color: transparent;
    border: 2px solid #F2F2F2 !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.text_b8 {
    font-size: 15px !important;
    color: #787878;
}

.r_img {
    border-radius: 10px !important;
}